body, h1, h2, h3, h4, input, button {
    font-size: 17px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
#header {
    height: 90px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.leadin {
    margin-bottom: 32px;
}
.grid{
    background: url(images/grid.png) #eeeeee 50% 0%;
    padding: 32px 0;
}
.header-placeholder {
    height: 90px;
}
#page {
float: left;
width: 1008px;
margin-left: 10px;
margin-top: 17px;
margin-right: 10px;
color: #000000;
}

.half_block {
min-height: 160px;
padding-left: 100px;
position: relative;
float: left;
background: url(../img/big-dots.png) repeat-y 34px 0px;
}
.half_block .icon{
  padding-left: 0px;
}
.half_block .icon {
position: absolute;
top: 0px;
left: 0px;
width: 35px;
height: 35px;
background: url(../img/light_star.png) no-repeat;
}
.half_block header h1 {
font-size: 15px;
margin-left: 40px;
width: 402px;
}
.half_block p {
width: 412px;
text-align: justify;
margin-left: 40px;
margin-top: 10px;
height: auto;
}
.centerTxt {
text-align: center;
}
.mFontClr {
color: #C52128;
}
.headline3 {
position: relative;
padding: 5px;
background: #e5e5e5;
background: -moz-linear-gradient(#f5f5f5, #e5e5e5);
background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
background: -webkit-linear-gradient(#f5f5f5, #e5e5e5);
background: -o-linear-gradient(#f5f5f5, #e5e5e5);
background: -ms-linear-gradient(#f5f5f5, #e5e5e5);
background: linear-gradient(#f5f5f5, #e5e5e5);
-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
-moz-box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
text-shadow: 0 1px 0 #fff;
}

.scroll3 {
display: table-cell;
background: none repeat scroll 0 0 #fff;
height: 80px;
width: 52%;
float: left;
clear: left;
border: 1px solid #cccccc;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 1px 5px rgba(29, 15, 15, 0.75);
box-shadow: 0px 1px 5px rgba(29, 15, 15, 0.75);
}
.scroll4 {
display: table-cell;
background: none repeat scroll 0 0 #fff;
height: 90px;
width: 20%;
float: right;
clear: right;
margin-top: -9px;
border: 1px solid #cccccc;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 1px 5px rgba(29, 15, 15, 0.75);
box-shadow: 0px 1px 5px rgba(29, 15, 15, 0.75);
}
#pagecontent {
border: 1px solid #c1c1c1;
border-radius: 10px;
}
.services_rails-logo {
position: relative;
margin-left: 50px;
top: 11px;
}

#howwedoittable {
width: 354px;
padding-left: 90px;
}

.contact1 {
float: left;
width: 400px;
margin-left: 10px;
margin-top: 5px;
}


.contact2 {
float: right;
width: 400px;
margin-left: 0px;
margin-right: 170px;
margin-top: 5px;
}

.contact_email {
width: 223px;
float: left;
margin-left: 205px;
}
.contact_email img {
width: 40px;
float: left;
}
.contact_skyp {
width: 116px;
float: left;
margin-left: 125px;
}

.contact_skyp img {
width: 40px;
float: left;
margin-top: -5px;
}
.form_style {
    position: relative;
    max-width: 88%; 
    min-height: 700px;
    padding: 10px;
    margin: 5%;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form_style h1 {
    font-size: 25px;
    color: #C52128;
    padding: 2px 0 10px 0;
    text-align: center;
    padding: 15px 0px 0px 0px;
}


.headline3{
    position: relative;
    padding: 5px;
    background: #e5e5e5;
    background: -moz-linear-gradient(#f5f5f5, #e5e5e5);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background: -webkit-linear-gradient(#f5f5f5, #e5e5e5);
    background: -o-linear-gradient(#f5f5f5, #e5e5e5);
    background: -ms-linear-gradient(#f5f5f5, #e5e5e5);
    background: linear-gradient(#f5f5f5, #e5e5e5);
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 -1px 0 rgba(255,255,255,.8) inset;
    text-shadow: 0 1px 0 #fff;
}

.headline3:before, .headline3:after{
    position: absolute;
    left: 0;
    bottom: -6px;
    content:'';
    border-top: 6px solid #555;
    border-left: 6px solid transparent;
}

.headline3:before{
    border-top: 6px solid #555;
    border-right: 6px solid transparent;
    border-left: none;
    left: auto;
    right: 0;
    bottom: -6px;
}

.mFontClr {
    color: #C52128; 
}

.centerTxt {
    text-align: center;
}
.justifiedTxt {
    text-align:justify; 
}

a.aHoverEffect {
    text-decoration: none;
    color: #C52128; text-shadow: 0px 3px 8px #2a2a2a;
}

a.aHoverEffect:hover {
    color: #a0a0a0; text-shadow: 0px 5px 8px #2a2a2a;
}

.note_block {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZkYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffdb), color-stop(100%, #ffffc7));
  background-image: -webkit-linear-gradient(#ffffdb, #ffffc7);
  background-image: -moz-linear-gradient(#ffffdb, #ffffc7);
  background-image: -o-linear-gradient(#ffffdb, #ffffc7);
  background-image: -ms-linear-gradient(#ffffdb, #ffffc7);
  background-image: linear-gradient(#ffffdb, #ffffc7);
  background-color: #ffffc7;
  border: 1px solid #e5e5b4;
  padding: 20px 23px;
  margin: 0 -42px 0 20px;
  position: relative;
  margin-bottom: 20px;
  zoom: 1;
}
.business_video{
    float:left;
    bottom:0px;
    margin-left:-7px;
    z-index:100;
    position:fixed
}
.contact_style, div.contact_style
{
    color:black;
    font-size:15px;
}
.content_for_site {
    margin-bottom: 0px;
    width:250px;

}
#enquire_form_id {
    width: 100%;
    min-height: 100%;
}

#enquire_form_id > div {
    margin-top: 10px;
    width: 40%;
}

#enquire_form_id > div:nth-child(odd) {
    float: left;
    padding-left: 9%;
}

#enquire_form_id > div:nth-child(even) {
    float: right;
    padding-right: 9%;
}

#enquire_form_id > * > input, #enquire_form_id > * > textarea, .roundedbox {
    border:1px solid #C52128;
    width: 95%;
    font-size:15px;
    min-height: 30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    clear: both;    
}



#enquire_form_id textarea {
    height: 294px;
    max-width: 100%;    
}

.h9Text {
    font-size: 12px;
}

input[type=radio] {
    width:15px;
    display: inline;
    padding: 5px;
    margin: 5px;
}

#enquire_form_id > * > input[type=submit]{
    color:#fff;
    background:#C52128;
    font-size: 20px;
    text-align: center;
    float: center;
    height: 35px;   
    max-width: 100%;    
    margin-top: 10px;
}
#careers1 {
float: left;
width: 140px;
height: 390px;
}
#careers2 {
float: left;
width: 70%;
margin-left: 30px;
margin-bottom: 10px;
padding: 56px;
height: auto;
min-height: 350px;
}
.portfolio_img {
    margin: 5px;
    padding: 5px;
    height: 340px;
    width: 308px;
    float: left;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: 6px 6px 5px #888888;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


} 

.portfolio_img img {
    display: inline;
    margin: 5px;
    border-radius: 5px;

}

.desc_portfolio {
  text-align: center;
  font-weight: normal;
  width: 308px;
  background-color: #ffffff;

}

#ourprocess {
float: left;
margin-left: 360px;
background: #8EB6E0;
text-align: center;
padding-top: 5px;
font-weight: bold;
color: #fff;
width: 200px;
height: 44px;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 5px #888;
}
.menu-text {
background-color: #8EB6E0;
color: #fff;
width: 134px;
height: 64px;
margin-top: 30px;
font-weight: bold;
margin-left: 40px;
text-align: center;
text-transform: uppercase;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 5px #888;
}
.weexpert{
margin-left: 112px;
}
.jobsheading{
    font-size: 36px;
text-align: center;
line-height: 1.5em;
}
.footerhead{

    font-size: 20px;
}
.cpyrt{
color: #C52128;
}
.headerbg{
    display: inline-block;
position: absolute;
right: 0;
}
#facetweet {
float: right;
width: auto;
margin-top: 10px;
margin-right: 10px;
}
#facebook {
float: left;
padding-left: 0px;
width: 82px;
}
#tweet {
float: left;
padding-left: 0px;
width: 85px;
}
 #siteloader{
    height: 99%;
    overflow-y: hidden;
}

object {
    width: 100%;
    min-height: 100%;
}      

.youtube_web{
    background: url(images/maisa_v.png) no-repeat;
    width: 400px;
}